 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #000000, #1a1a1a);
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 1032px;
}

.u-section-1 .u-image-1 {
  width: 420px;
  height: 300px;
  margin: 300px auto 0;
}

.u-section-1 .u-text-1 {
  margin: 0 83px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 479px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -96px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-top: 491px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -192px;
    margin-bottom: 49px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-top: 480px;
  }

  .u-section-1 .u-text-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 975px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 243px;
    margin-top: 473px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -135px;
    margin-bottom: 10px;
  }
}